<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSDL</title>
    <link rel="stylesheet" href="/index.css">
    <script src="/src/search.js" defer></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/Login">Login</a>
        <a href="/SignUp">Sign Up</a>
        <form class="search-wrapper" action="/search">
            <input id="search" type="text" class="input" name="keyword" placeholder="search..." data-search />
            <button id="searchB" type="submit" class="fa fa-search" data-search>search</button>
        </form>
    </div>

    <div style="padding-left:16px">
        <h2>3BongS</h2>
    </div>

    <h3>Tên món ăn: <%= monAn.Ten %>
    </h3>
    <h3>Giá: <%= monAn.Gia %>
    </h3>
    <h3>Mã món ăn: <%= monAn.MaMonAn %>
    </h3>
    <h3>Mã thực đơn: <%= monAn.MaThucDon %>
    </h3>
    <h3>Mã loại: <%= monAn.MaLoai %>
    </h3>
    <h3>Tình trạng: <%= monAn.TinhTrang %>
    </h3>
</body>

</html>